#web_dock
{
	width:auto;
	/* exe化した場合にフレームが正常に表示されない一時対応*/
	height:10000px;
}

.menu_list
{
	height: 100%;
	background: #e0e0e0;
}

.menu_image
{
	vertical-align: middle;
}

.my-custom-theme
.tooltipster-content
{
	font-family: 'Noto Sans Japanese', serif;
	font-size: 14px;
	line-height: 16px;	
	padding: 8px 10px;
	border-radius: 10px; 
	border: 1px solid #cccccc;
	background: #ededed;
	color: #666666;
}

::-webkit-scrollbar {
    width: 13px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
body
{
	font-family: 'Noto Sans Japanese', serif;
}
.mm-menu.mm-left { width: 100px !important; }
